.menu-lateral {
  position: fixed;
  top: 100px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.menu-lateral ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-lateral .icone {
  filter: invert(1);
  transition: 0.3s ease-in-out;
}

.menu-lateral .icone:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .menu-lateral {
    top: 0px;
    position: relative;
    min-height: auto;
    width: 100%;
  }

  .menu-lateral ul {
    flex-direction: row;
  }
}
